<tr>
  <td><%= employee.firstname %> </td>
  <td><%= employee.lastname %> </td>
  <td><%= employee.code %> </td>
  <td><%= employee.user.name %> </td>
  <td><%= employee.user.email %> </td>
  <td>
    <%= link_to("Edit", edit_employee_path(employee.id)) %>
    &nbsp;|&nbsp;
    <%= link_to("Delete", employee, confirm: 'Are you sure?', method: :delete) %>
  </td>
</tr>
 

