<%= form_for(@project) do |f| %>
<div class="CSSTableGenerator" >
  <table>
    <tr>
      <td>
        <%= f.label :name %>
      </td>
      <td>
        <%= f.text_field :name %>&nbsp;
        <% if @project.errors.present? && @project.errors[:name].present? %> 
          <%= @project.errors[:name].join(", ") %>
        <% end %> 
      </td>
    </tr>
    <tr><td colspan="2">&nbsp;</td></tr>
    <tr>
      <td>
        <%= f.label :code %>
      </td>
      <td>
        <%= f.text_field :code %>&nbsp;
        <%# show the errors on code if present %>
        <% if @project.errors.present? && @project.errors[:code].present? %>
          <%= @project.errors[:code].join(", ") %>
        <% end %>
      </td>
      </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
      <td>
        <%= f.label :client %>
      </td>
      <td>
        <%= f.select(:client_id, Client.find(:all).collect{ |u| [u.name, u.id] }, prompt: 'select client') %>&nbsp; 
        <% if @project.errors.present? && @project.errors[:client_id].present? %>
          <%= @project.errors[:client_id].join(", ") %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= f.submit %>
      </td>
    </tr>
  </table>
</div>  
<% end %>  
