<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet Management</title>
    <%= stylesheet_link_tag :application, media: "all" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
  </head>
  <body class = "body">
    <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
    <% if user_signed_in? %>
      <div class = "logout">
        <%= link_to 'Change password', edit_user_registration_path %>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> 
      </div></br>
      <div>
      <table>
        <% if current_user.name == "admin" %>
          <th>
            <td><h3><%= link_to "Clients Management", clients_path %></h3></td>
            <td><h3><%= link_to "Activity Types Management", activity_types_path %></h3></td>
            <td><h3><%= link_to "Projects Management", projects_path %></h3></td> 
            <td><h3><%= link_to "Employees Management", employees_path %></h3></td>
            <td><h3><%= link_to "Tasksheet Module", tasksheets_path %></h3></td>
            <td><h3><%= link_to "Check Reports", check_reports_path %></h3></td>
          </th> 
        <% else %>
          <td><h3><%= link_to "Tasksheet Module", tasksheets_path %>&nbsp;&nbsp;&nbsp;</h3></td> 
          <td><h3><%= link_to "Reports", reports_path %>&nbsp;&nbsp;&nbsp;</h3></td>
        <% end %>  
      </table> 
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
